{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src/client"],
      "alias": {
        "Assets": "./src/client/assets/",
        "Atoms": "./src/client/atoms/",
        "Molecules": "./src/client/molecules/",
        "Organisms": "./src/client/organisms/",
        "Pages": "./src/client/pages/",
        "Styles": "./src/client/styles/",
        "Templates": "./src/client/templates/",
        "Config": "./src/client/config/",
        "Services": "./src/client/services/",
        "Store": "./src/client/store/",
        "Sagas": "./src/client/sagas/"
      }
    }]
  ]
}
