{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "sourceType": "module",
    "useJSXTextNode": false,
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "standard",
    "plugin:react/recommended",
    "react-app",
    "airbnb",
    "plugin:prettier/recommended"
  ],

  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types":0,
    "eqeqeq":0,
    "no-unused-expressions":0,
    "max-len": ["error", {"code": 100}],
    "prefer-promise-reject-errors": ["off"],
    "no-return-assign": ["off"]
  }
}
