version: "3"
services:
  mongo:
    container_name: mongo
    image: mongo
    restart: always
    volumes:
      - ./data:/data/db
    expose:
      - 27017
    ports:
      - "127.0.0.1:27017:27017"
    networks:
      - mongo  
  app:
    container_name: app
    restart: always
    build: .
    ports:
      - "80:80"
    links:
      - mongo
    depends_on:
      - "mongo"
    command: ["./wait-for-it.sh", "mongo:27017", "--", "node","src/index.js"]
    networks:
      - mongo  
networks:
  mongo:
    driver: bridge
      