version: "3"
services:
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network  
  app:
    container_name: app
    restart: always
    build: .
    ports:
      - "80:80"
    links:
      - mongo
    depends_on:
      - "mongo"
    command: ["./wait-for-it.sh", "mongo:27017", "--", "node","src/index.js"]
    networks:
      - app-network  
networks:
  app-network:
    driver: bridge
      